<a href="https://colab.research.google.com/github/chaymaaaaa/go-my-code-/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
exam_data = { 'name' : ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Micheal', 'Mathew', 'Laura', 'Kevin', 'Jonas'],
              'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
              'qualify' : ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
 labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
 df = pd.DataFrame(exam_data, index=labels)
 print("First three rows:")
 print(df.head(3))
 df.dropna(inplace=True)
 name_score_df = df[['name', 'score']]
 new_row = pd.Series({'name': 'Suresh', 'score': 15.5, 'attempts': 1, 'qualify': 'yes'}, name='k')
df = df.append(new_row)
df.drop('attempts', axis=1, inplace=True)
df['Success'] = df['Score'].apply(if x>10 x:1 else 0)
df.to_csv('my_data.csv')
print(df)

IndentationError: ignored