<a href="https://colab.research.google.com/github/chaymaaaaa/go-my-code-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
item=[2,3,6]
total=1
for i in item:
  total *= i
  print(total)

2
6
36

In [2]:
def last(n):
  return n[-1]
  def sort(tuples):
    return sorted(tuples,key=last)

In [8]:
d1={'a':100,'b':200,'c':300}
d2={'a':300,'b':200,'d':400}
for key in d2:
  if key in d1:
    d2[key]=d1[key]+d2[key]
  else:
      pass
      print(d2)

{'a': 400, 'b': 400, 'd': 400}

In [9]:
n=int(input("Enter a number"))
squares={i : i*i for i in range(1,n+1)}
print(squares)

Enter a number8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [22]:
s1={'0','1','2','3','4'}
print(s1)
for val in s1:
  print(val)
  s1.add('5')
  print('add element:' ,s1)
   s1.pop()
  print('after removing the first element from the set')
  print (s1)

IndentationError: ignored